name: demo CI/CD

on:
  
  push:
    branches: 
          - main
  
  workflow_dispatch:


jobs:
 
 build:
    
     runs-on: ubuntu-latest

   
     steps:
    
      - name: Checkot repository
      - uses: actions/checkout@v1

      
      - name: List files
        run: ls -a
