name: demo CI/CD

on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:


jobs:
 
  build:
    
    runs-on: ubuntu-latest

   
    steps:
      - name: Checkot repository
      - uses: actions/checkout@v4

      
      - name: List files
        run: ls -la
