name: demo CI/CD

on:
  
  push:
    branches: 
          - main


jobs:
 
 build:
    
     runs-on: ubuntu-latest

   
     steps:
    
      - name: Checkot repository
        uses: actions/checkout@v6.0.1

      
      - name: List files
        run: ls -a
